.App {
  text-align: center;
}

.Board {
  display: grid;
  margin: auto;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  border: 1px solid white;
}

.Board div {
  display: grid;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  place-items: center;
  font-size: 50px;
}
